@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* { 
    box-sizing: border-box;
}
:root {
    /* color */
    --blue-100:hsl(195, 74%, 62%);
    --blue-200: hsl(236, 100%, 87%);
    --blue-400:hsl(235, 45%, 61%);
    --blue-500:hsl(246, 80%, 60%);
    --blue-800:hsl(235, 46%, 20%);
    --blue-900:hsl(226, 43%, 10%);
    --red-100:hsl(15, 100%, 70%);
    --red-200:hsl(348, 100%, 68%);
    --green-100:hsl(145, 58%, 55%);
    --violet-500:hsl(264, 64%, 52%);
    --orange-200:hsl(43, 84%, 65%);


    /* typography */
    --family: 'Rubik', sans-serif;
    --fs-base: 18px;
    --weight-light: 300;
    --weight-normal: 400;
    --weight-regular: 500;

    /* borders */
    --radius: 1rem;
    --radius-full: 50%;
}

body {
    margin: 0;
    background-color: var(--blue-900);
    font-family: var(--family);
    font-size: var(--fs-base);
    color: white;
    }

.dashboard{
    min-height: 100vh;
    padding: 4rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;

        display: grid;
        gap: 1.5rem;
        justify-content: center;
        grid-template-columns: repeat(1, minmax(300px, 330px));
    }
    &__person{
        width: 100%;
        background-color: var(--blue-800);
        border-radius: var(--radius);
    }
    &__item{
        width: 100%;
        padding-top: 2.15rem;
        border-radius: var(--radius);
        background-color: white;
        background-repeat: no-repeat;
        background-position: 90% -10%;
        
    }
    &__item--work{
        background-color: var(--red-100);
        background-image: url(../images/icon-work.svg);
        

    }
    &__item--play{
        background-color: var(--blue-100);
        background-image: url(../images/icon-play.svg);
    }
    &__item--study{
        background-color: var(--red-200);
        background-image: url(../images/icon-study.svg);
    }
    &__item--exercise{
        background-color: var(--green-100);
        background-image: url(../images/icon-exercise.svg);
    }
    &__item--social{
        background-color: var(--violet-500);
        background-image: url(../images/icon-social.svg);
    }
    &__item--self-care{
        background-color: var(--orange-200);
        background-image: url(../images/icon-self-care.svg);
    }
}
.info-card{
    background-color: var(--blue-500);
    border-radius: var(--radius);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    &__photo{
        width: 80px;
        height: 80px;
        border: 3px solid white;
        border-radius: var(--radius-full);
    }
    &__subtitle{
        font-weight: var(--weight-light);
        margin: 0;
        font-size: 12px;
    }
    &__title{
        font-weight: var(--weight-light);
        margin: 0.5rem 0 0;
    }

}
.view-selector{
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
    &__item{
        font-size: 14px;
        color: var(--blue-200);
        cursor: pointer;
        &:hover, &--active{
            color: white;
        }
    }
}
.tracking-card{
    background-color: var(--blue-800);
    border-radius: var(--radius);
    padding: 1.25rem;
    position: relative;
    bottom: -2px;
    &:hover {
        background-color: var(--blue-400);
    }
    &__header, &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__header{
        margin-bottom: 1rem;
    }
    &__menu {
        cursor: pointer;
    }
    &__title{
        margin: 0;
        font-weight: var(--weight-normal);
        font-size: var(--fs-base);
    }
    &__time{
        font-weight: var(--weight-light);
        font-size: 32px;
    } 
    &__prev-period{
        font-weight: var(--weight-light);
        font-size: 14px;
    }
    
}
@media (min-width: 1024px) {
    .dashboard__content{
        grid-template-columns: repeat(4, 1fr);
    }
    .dashboard__person{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .info-card{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        &__photo{
            margin-bottom: 1.5rem;
        }
    }
    .view-selector{
        flex-direction: column;
        &__item:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    .tracking-card{
        &__body{
            flex-direction: column;
            align-items: flex-start;
        }
        &__time{
            margin-bottom: 0.75rem;
            font-size: 48px;
        }
        &__header {
            margin-bottom: 0.75rem;
        }
    }
}